USE [TestDB]
GO
/****** Object:  Table [dbo].[Exchange_MIC]    Script Date: 3/22/2017 2:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Exchange_MIC](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExchangeId] [int] NOT NULL,
	[MIC] [varchar](4) NOT NULL,
	[MarketId] [int] NULL,
	[Description] [varchar](255) NULL,
	[LastUpdated] [date] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Exchange_MIC] ON 

INSERT [dbo].[Exchange_MIC] ([Id], [ExchangeId], [MIC], [MarketId], [Description], [LastUpdated]) VALUES (1047, 6, N'ALXL', 9, N'EURONEXT - ALTERNEXT LISBON', CAST(N'2016-11-04' AS Date))
INSERT [dbo].[Exchange_MIC] ([Id], [ExchangeId], [MIC], [MarketId], [Description], [LastUpdated]) VALUES (1048, 42, N'FNDK', 68, N'FIRST NORTH DENMARK', CAST(N'2016-11-04' AS Date))
INSERT [dbo].[Exchange_MIC] ([Id], [ExchangeId], [MIC], [MarketId], [Description], [LastUpdated]) VALUES (1049, 42, N'FNSE', 72, N'FIRST NORTH SWEDEN', CAST(N'2016-11-04' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Exchange_MIC] OFF
