USE [TestDB]
GO
/****** Object:  Table [dbo].[Exchange_MIC_ISO10383]    Script Date: 3/22/2017 2:50:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Exchange_MIC_ISO10383](
	[MIC] [varchar](4) NOT NULL,
	[Country] [varchar](31) NOT NULL,
	[ISO_Country_Code] [varchar](2) NOT NULL,
	[Operating MIC] [varchar](4) NOT NULL,
	[O_S] [varchar](1) NOT NULL,
	[NameInstitution] [varchar](85) NOT NULL,
	[Acronym] [varchar](19) NULL,
	[City] [varchar](21) NULL,
	[Website] [varchar](91) NULL,
	[StatusDate] [varchar](15) NULL,
	[Status] [varchar](6) NULL,
	[CreationDate] [varchar](16) NULL,
	[Comments] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Exchange_MIC_ISO10383] ([MIC], [Country], [ISO_Country_Code], [Operating MIC], [O_S], [NameInstitution], [Acronym], [City], [Website], [StatusDate], [Status], [CreationDate], [Comments]) VALUES (N'360T', N'GERMANY', N'DE', N'360T', N'O', N'360T', N'''''', N'FRANKFURT', N'WWW.360T.COM', N'SEPTEMBER 2007', N'ACTIVE', N'SEPTEMBER 2007', N'''''')
INSERT [dbo].[Exchange_MIC_ISO10383] ([MIC], [Country], [ISO_Country_Code], [Operating MIC], [O_S], [NameInstitution], [Acronym], [City], [Website], [StatusDate], [Status], [CreationDate], [Comments]) VALUES (N'AATS', N'UNITED STATES OF AMERICA', N'US', N'AATS', N'O', N'ASSENT ATS', N'''''', N'JERSEY CITY', N'WWW.SUNGARD.COM', N'OCTOBER 2011', N'ACTIVE', N'OCTOBER 2011', N'ASSENT ATS IS A US EQUITY DARK POOL OPERATED BY ASSENT, LLC - A SUBSIDIARY OF SUNGARD.')
INSERT [dbo].[Exchange_MIC_ISO10383] ([MIC], [Country], [ISO_Country_Code], [Operating MIC], [O_S], [NameInstitution], [Acronym], [City], [Website], [StatusDate], [Status], [CreationDate], [Comments]) VALUES (N'ACEX', N'INDIA', N'IN', N'ACEX', N'O', N'ACE DERIVATIVES & COMMODITY EXCHANGE LTD', N'''''', N'MUMBAI', N'WWW.ACEINDIA.COM', N'APRIL 2011', N'ACTIVE', N'APRIL 2011', N'DERIVATIVES EXCHANGE FOR COMMODITIES TRADING IN INDIA.')
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_Exchange_MIC_ISO10383]    Script Date: 3/22/2017 2:50:35 PM ******/
ALTER TABLE [dbo].[Exchange_MIC_ISO10383] ADD  CONSTRAINT [UQ_Exchange_MIC_ISO10383] UNIQUE NONCLUSTERED 
(
	[MIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
